<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elecone.guidedexercise">

    <!--  Specifies a system permission that the user must grant in order for the app to operate correctly.-->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- MainActivity is the entry point of the app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Guided Activity 1 -->
        <activity android:name=".GuidedActivityOne" android:exported="true" />
        <!-- Guided Activity 2 -->
        <activity android:name=".GuidedActivityTwo" android:exported="true" />
        <!-- Guided Activity 3 -->
        <activity android:name=".GuidedActivityThree" android:exported="true" />
        <!-- Guided Activity 4 -->
        <activity android:name=".GuidedActivityFour" android:exported="true" />
        <!-- Guided Activity 5 -->
        <activity android:name=".GuidedActivityFive" android:exported="true" />
        <!-- Guided Activity 6 -->
        <activity android:name=".GuidedActivitySix" android:exported="true" />
        <!-- Guided Activity 7 -->
        <activity android:name=".GuidedActivitySeven" android:exported="true" />
        <!-- Guided Activity 8 -->
        <activity android:name=".GuidedActivityEight" android:exported="true" />
        <!-- Guided Activity 9 -->
        <activity android:name=".GuidedActivityNine" android:exported="true" />
        <!-- Guided Activity 10 -->
        <activity android:name=".GuidedActivityTen" android:exported="true" />
        <!-- Guided Activity 11 -->
        <activity android:name=".GuidedActivityEleven" android:exported="true" />

        <!-- Guided Activity 12 -->
        <activity android:name=".GuidedActivityTwelve" android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <!-- Declaring GA12Home -->
        <activity android:name=".GA12Home" android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- Guided Activity 13 -->
        <activity android:name=".GuidedActivityThirteen" android:exported="true" />
        <!-- Guided Activity 14 -->
         <activity android:name=".GuidedActivityFourteen" android:exported="true" />
        <!-- Guided Activity 15 -->
         <activity android:name=".GuidedActivityFifteen" android:exported="true" />
        <!-- Guided Activity 16 -->
        <activity android:name=".GuidedActivitySixteen" android:exported="true" />
        <!-- Guided Activity 17 -->
        <activity android:name=".GuidedActivitySeventeen" android:exported="true" />

        <!-- Machine Problem #1 -->
        <activity android:name=".MachineProblemOne" android:exported="true" />
        <!-- Machine Problem #2 -->
        <activity android:name=".MachineProblemTwo" android:exported="true" />
        <!-- Machine Problem #3 -->
        <activity android:name=".MachineProblemThree" android:exported="true" />
        <!-- Machine Problem #4 -->
        <activity android:name=".MachineProblemFour" android:exported="true" />
        <!-- Machine Problem #4::Summary -->
        <activity android:name=".MachineProblemFour_Summary" android:exported="true" />


        <!-- Credits -->
        <activity android:name=".Credits" android:exported="true" />

    </application>

</manifest>
