<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elecone.guidedexercise">

    <!-- Specifies a system permission that the user must grant in order for the app to operate correctly.-->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true"
        />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"
        />

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- MainActivity is the entry point of the app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".GuidedActivitySeventeenMyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".GuidedActivitySeventeenCustomReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.elecone.guidedexercise.MY_CUSTOM_ACTION" />
            </intent-filter>
        </receiver>


        <!-- Activities -->
        <activity android:name=".GuidedActivityOne" android:exported="true" />
        <activity android:name=".GuidedActivityTwo" android:exported="true" />
        <activity android:name=".GuidedActivityThree" android:exported="true" />
        <activity android:name=".GuidedActivityFour" android:exported="true" />
        <activity android:name=".GuidedActivityFive" android:exported="true" />
        <activity android:name=".GuidedActivitySix" android:exported="true" />
        <activity android:name=".GuidedActivitySeven" android:exported="true" />
        <activity android:name=".GuidedActivityEight" android:exported="true" />
        <activity android:name=".GuidedActivityNine" android:exported="true" />
        <activity android:name=".GuidedActivityTen" android:exported="true" />
        <activity android:name=".GuidedActivityEleven" android:exported="true" />
        <activity android:name=".GuidedActivityElevenResult" android:exported="true" />
        <activity android:name=".GuidedActivityTwelve" android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GA12Home" android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GuidedActivityThirteen" android:exported="true" />
        <activity android:name=".GuidedActivityFourteen" android:exported="true" />
        <activity android:name=".GuidedActivityFifteen" android:exported="true" />
        <activity android:name=".GuidedActivitySixteen" android:exported="true" />
        <activity android:name=".GuidedActivitySeventeen" android:exported="true" />
        <activity android:name=".MachineProblemOne" android:exported="true" />
        <activity android:name=".MachineProblemTwo" android:exported="true" />
        <activity android:name=".MachineProblemThree" android:exported="true" />
        <activity android:name=".MachineProblemFour" android:exported="true" />
        <activity android:name=".MachineProblemFour_Summary" android:exported="true" />
        <activity android:name=".Credits" android:exported="true" />

    </application>

</manifest>
